body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #bfbfbf;
}

main {
  margin: 0 auto;
  max-width: 950px;
  background-color: gainsboro;
  padding: 0 50px;
}
h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}
.wrapped-block {
  flex-wrap: wrap;
}

.wrapped-block .card-order {
  width: 90px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid gray;
  border-radius: 10px;
}

.layout1 {
  display: flex;
  padding: 30px 0;
}

.layout1 .card {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: dodgerblue;
  flex: 1;
}
.layout1 .card2 {
  flex: 2;
}
.layout1 .card:not(:last-child) {
  margin-right: 10px;
}

.layout2 {
  display: flex;
  margin-bottom: 15px;
}

.layout2 .card,
.layout2 .card2 {
  line-height: 50px;
  text-align: center;
  background-color: #abc32f;
  border-radius: 15px;

  border: 1px solid gray;
}
.layout2 .card {
  width: 200px;
}
.layout2 .card2 {
  width: 100px;
}
.layout2 .flex-start {
  justify-content: flex-start;
}
.layout2 .card2 {
  margin-left: 10px;
  margin-right: 10px;
}
.flex-end {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}

.layout3 {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  height: 760px;
  margin-bottom: 100px;
  align-content: center;
}
.layout3 .card {
  height: 50px;
  border: 1px solid saddlebrown;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: goldenrod;
}
.layout3 .card.card1 {
  width: 150px;
  height: 55px;
}
.layout3 .card.card2 {
  width: 130px;
  height: 35px;
}
.layout3 .card.card3 {
  width: 220px;
  height: 55px;
}
.layout3 .card.card4 {
  width: 240px;
  height: 50px;
}
.layout3 .card.card5 {
  width: 270px;
  height: 35px;
}
.layout3 .card.card6 {
  width: 230px;
  height: 30px;
}
.layout3 .card.card7 {
  width: 120px;
  height: 30px;
}
.layout3 .card.card8 {
  width: 130px;
  height: 50px;
}
.layout3 .card.card9 {
  width: 120px;
  height: 22px;
}
.layout3 .card.card10 {
  width: 140px;
  height: 30px;
}
.layout3 .card.card11 {
  width: 130px;
  height: 70px;
}
.layout3 .card.card12 {
  width: 100px;
  height: 50px;
}

.layout3 .card {
  height: 50px;
  border: 1px solid saddlebrown;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

/* GRID */
.grid-layout {
  display: grid;
  height: 700px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}
.grid-layout header {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

  background-color: #b7d968;
}

.grid-layout .main {
  grid-column-start: 1;
  grid-column-end: 3;

  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 33% 33% 33%;

  padding: 10px;
  background-color: #35b0f7;
}

.grid-layout .main div {
  width: 80%;
  height: 80%;
  text-align: center;
  align-self: center;

  margin: 0 auto;
  line-height: 300%;
  border-radius: 15px;
  background-color: saddlebrown;
}

.grid-layout aside {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: #a9636f;
}
.grid-layout section {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;

  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
}
.grid-layout .item {
  color: gainsboro;
  text-align: center;
  padding-top: 35px;
}
.grid-layout .item-a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  background-color: #272838;
}
.grid-layout .item-b {
  background-color: #5d536b;
}
.grid-layout .item-c {
  background-color: #7d6b91;
}
.grid-layout .item-d {
  background-color: #989fce;
}

.grid-layout .item-e {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #347fc4;
}

.grid-layout footer {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;

  text-align: center;
  background-color: #7cb342;
}
